* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    min-height: 100vh; /* Ensure full height */
    display: flex;
}

#sidebar {
    position: fixed;
    height: 100%;
    background: rgb(2, 41, 2);
    width: 250px; /* Adjust as needed */
    z-index: 1; /* Ensure sidebar is above content */
    overflow-y: auto; /* Allow scrolling if needed */
}

.title {
    color: white;
    height: auto;
    background-color: rgb(2, 41, 2);
    text-align: center;
    padding: 10px;
}

.title img {
    width: 100%; /* Ensure the image covers the title */
    max-width: 200px; /* Adjust as needed */
    margin-bottom: 10px;
}

#sidebar .list-items {
    list-style: none;
}

#sidebar .list-items li {
    line-height: 50px;
    border-top: 1px solid rgba(4, 42, 4, 0.1);
    border-bottom: 1px solid black;
    transition: all 0.3s ease;
}

#sidebar .list-items li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: block;
    padding: 0 20px;
}

#sidebar .list-items li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.content {
    padding: 30px;
    margin-left: 250px; /* Ensure content doesn't overlap with sidebar */
}

.text-header {
    margin-bottom: 20px;
}

.table-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.table {
    width: 45%; /* Adjust width as needed */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
.table-container2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.table2 {
    width: 45%; /* Adjust width as needed */
}

.table2 {
    border-collapse: collapse;
    width: 100%;
}

.th2, .td2 {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.th2 {
    background-color: #f2f2f2;
}
/* Buttons */
.accept-button {
    background-color: #4CAF50; /* Green for accept */
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Adjust as needed */
}

.deny-button {
    background-color: #da190b; /* Red for deny */
    color: white;
    padding: 10px 16px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Adjust as needed */
}

.accept-button:hover {
    background-color: #45a049;
}

.deny-button:hover {
    background-color: #da190b;
}

/* Bold text */
.Bold {
    font-weight: bold;
    color: #0d0d0d;
}